
/* Icon set - http://ionicons.com/ */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');


.testimonial-main{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: aliceblue;
  height: 80vh;
  margin-bottom: 5vh;
}
.testimonial{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}



.testimonial-heading{
  height: 80px;
  color: black;
  font-weight: 600;
  text-align: center;
}
.snip1139 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 17px;
  min-width: 220px;
  max-width: 351px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.snip1139 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.snip1139 img {
  max-width: 100%;
  vertical-align: middle;
}
.snip1139 blockquote {
  position: relative;
  background-color: aliceblue;
  padding: 25px 50px 25px 50px;
  font-size: 0.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
.snip1139 blockquote:before,
.snip1139 blockquote:after {
  font-family:sans-serif ;
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
.snip1139 blockquote:before {
  top: 25px;
  left: 20px;
}
.snip1139 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
.snip1139 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0;
  position: absolute;
}
.snip1139 .author {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  color: #000000;
  background-color: aliceblue;
  margin: 0;
  text-transform: uppercase;
}
.snip1139 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
.snip1139 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}

@media only screen and (max-width: 979px){
  .testimonial{
    display: flex;
    flex-direction: column;
  }
  .testimonial-main{
    height: auto;
    width: auto;
    overflow: hidden;
  }
}




